@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 400;
    src: url('~fonts/iran-sans/eot/IRANSansWeb.eot');
    src: url('~fonts/iran-sans/eot/IRANSansWeb.eot') format("embedded-opentype"),
         url('~fonts/iran-sans/woff2/IRANSansWeb.woff2') format("woff2"),
         url('~fonts/iran-sans/woff/IRANSansWeb.woff') format("woff"),
         url('~fonts/iran-sans/ttf/IRANSansWeb.ttf') format("truetype");
}


@font-face {
    font-family: 'IRANYekan';
    font-style: normal;
    font-weight: 400;
    src: url('~fonts/iran-yekan/eot/iranyekanwebregularfanum.eot');
    src: url('~fonts/iran-yekan/eot/iranyekanwebregularfanum.eot') format("embedded-opentype"),
    url('~fonts/iran-yekan/woff/iranyekanwebregularfanum.woff') format("woff"),
    url('~fonts/iran-yekan/ttf/iranyekanwebregularfanum.ttf') format("truetype");
}

@font-face {
    font-family: 'IRANYekanMedium';
    font-style: normal;
    font-weight: 400;
    src: url('~fonts/iran-yekan/eot/iranyekanwebmediumfanum.eot');
    src: url('~fonts/iran-yekan/eot/iranyekanwebmediumfanum.eot') format("embedded-opentype"),
    url('~fonts/iran-yekan/woff/iranyekanwebmediumfanum.woff') format("woff"),
    url('~fonts/iran-yekan/ttf/iranyekanwebmediumfanum.ttf') format("truetype");
}


@font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 400;
    src: url('~fonts/vazir/Vazir.eot');
    src: url('~fonts/vazir/Vazir.eot') format("embedded-opentype"),
    url('~fonts/vazir/Vazir.woff2') format("woff2"),
    url('~fonts/vazir/Vazir.woff') format("woff"),
    url('~fonts/vazir/Vazir.ttf') format("truetype");
}
